[Desktop Entry]
Name=Reading Guide
Comment=Tactical Focus Tool
Exec=/usr/bin/reading_guide
Icon=/usr/share/pixmaps/reading-guide.png
Type=Application
Terminal=false
Categories=Utility;Education;